# String Manipulation in SQL

> Transform data into a usable format

* Using the ***LENGTH()*** function.
* Using the ***REPLACE()*** function.
* Using the ***RTRIM()***, ***LTRIM()***, ***TRIM()*** functions.
* Using the ***SUBSTR()*** function.
* Using the ***INSTR()*** function.
* Using the ***UPPER()***, ***LOWER()*** functions.
* Concatenation Operator - ***||***.

## Imports and DB Connections

Please use the below command to install **sql_magic** if you do not already have it. We will use this package to assist us with SQL syntax hightlighting.
* `pip install sql_magic`

Remember to start each new cell with:  **`%%read_sql`**

In [ ]:
!pip install sql_magic

In [ ]:
import sqlite3
import csv
from sqlalchemy import create_engine
%load_ext sql_magic

# Create engine instance using sqlalchemy
engine = create_engine("sqlite:///Students.db")
%config SQL.conn_name = 'engine'

# Create connection object using sqlite3
conn = sqlite3.connect('Students.db')
cursor = conn.cursor()

# Using the LENGTH() function

- Returns the length of a given string.
- Length includes any white space that may exist in the string.
- Counts number of characters + whitespace

The syntax of the *LENGTH()* function takes the following form:

```sql
    LENGTH(string)
```
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/LENGTH.png" alt="Illustration of the length function" border="0">

In [ ]:
%%read_sql 
SELECT 
    Name,
    LENGTH(Name) AS LengthOfName,
    IDNumber,
    LENGTH(IDNumber) AS LengthOfID
FROM 
    Students
LIMIT 5;

### Find all ID's that were entered incorrectly

From the above result we can see that there are some ID numbers that have been entered incorrectly as they have a length greater than 13. Let us write a sql query to identify all the ID numbers that have been entered incorrectly using the length function.

In [ ]:
%%read_sql

SELECT 
    Name,
    LENGTH(Name) AS LengthOfName,
    IDNumber,
    LENGTH(IDNumber) AS LengthOfID
FROM 
    Students
WHERE LENGTH(IDNumber) > 13

# Using the REPLACE() function

Allows you to replace a specified string pattern found in your data with a string pattern of your choice.

The syntax of the *`REPLACE()`* function takes the following form:

```sql
REPLACE(string, pattern, replacement_string)
```

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/REPLACE.png" alt="Illustration of different TRIM functions" border="0">

Let's see how we can use this to correct the ID numbers that have a LENGTH greater than 13.

In [ ]:
%%read_sql

SELECT 
    IDNumber,
    LENGTH(IDNumber) AS LengthOfID,
    REPLACE(IDNumber,'-','##') AS HashtagID, -- replace with arbitrary string pattern
    REPLACE(REPLACE(IDNumber,'-',''),'#','') AS CorrectIDFormat, -- correct ID format such that we only have 13 characters in the string,
    LENGTH(REPLACE(REPLACE(IDNumber,'-',''),'#','')) AS LengthOfCorrectID
FROM 
    Students
WHERE 
    LengthOfID > 13

### Remove all vowels from the student's names

Write a query that will remove all the lowercase vowels (a, e, i, o, u) from a students name. 

***Hint:*** *You will need to nest your **REPLACE()** function calls*

In [ ]:
%%read_sql

SELECT 
    Name,
    REPLACE(Name,'a', '') AS 'Removed a Vowel', --Removes 'a' vowel
    REPLACE(REPLACE(Name,'a', ''),'e', '') AS 'Removed a,e Vowels', --Removes a,e vowels
    REPLACE(REPLACE(REPLACE(Name,'a', ''),'e', ''),'i', '') AS 'Removed a,e,i Vowels'--Removes a,e,i vowels
FROM Students
LIMIT 5

In [ ]:
%%read_sql

SELECT 
    Name,
    --REPLACE(Name,('a'), '') AS 'Removed Vowels_a',
    --REPLACE(REPLACE(Name,('a'), ''),('e'), '') AS 'Removed Vowels_e',
    --REPLACE(REPLACE(REPLACE(Name,('a'), ''),('e'), ''),('i'), '') AS 'Removed Vowels_i',
    --REPLACE(REPLACE(REPLACE(REPLACE(Name,('a'), ''),('e'), ''),('i'), ''),('o'), '') AS 'Removed Vowels_o',
    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Name,('a'), ''),('e'), ''),('i'), ''),('o'), ''),('u'), '') AS 'All Vowels Removed'
FROM Students

LIMIT 10

### TRIM, RTRIM, LTRIM

The `TRIM`, `RTRIM` and `LTRIM` functions allow you to either trim the whitespaces or string patterns that are found at the beginning or end of a string:

* **TRIM** allows you to trim the whitespaces or string patterns both **at the beginning and at the end of a string**.
* **LTRIM** allows to trim whitespaces or string patterns that are to the **L**eft of the string - beginning of the string.
* **RTRIM** allow to trime whitespaces or string patterns that are to the **R**ight of the string - end of the string.

The syntax of the *`TRIM()`, `RTRIM()`, `LTRIM()`* functions take the following forms:

```sql
    TRIM(string,pattern), RTRIM(string,pattern), LTRIM(string,pattern)
```


The argument: [,pattern] is optional - if it is omitted then it will only serve to remove whitespaces.

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/TRIM.png" alt="Illustration of different TRIM functions" border="0">

In our database we have some IDs with hashtags at their extremities and names that have whitespaces. The whitespaces will not be visible to us, and as such we will use the `LENGTH` function to discern whether they exist. Let us write a query for this.

In [ ]:
%%read_sql
SELECT
    Name,
    LENGTH(Name) AS LengthOfName,
    LENGTH(TRIM(Name)) AS TRIM_Length,
    LENGTH(RTRIM(Name)) AS RTRIM_Length,
    LENGTH(LTRIM(Name)) AS LTRIM_Length
    
FROM 
    Students
LIMIT 5;

In [ ]:
%%read_sql

SELECT
    Name,
    LENGTH(Name)AS LengthOfName,
    LENGTH(TRIM(Name)) AS TRIM_Length,
    LENGTH(LTRIM(Name)) AS LTRIM_Length,
    LENGTH(RTRIM(Name)) AS RTRIM_Length,
    CASE 
        WHEN LENGTH(TRIM(Name)) <> LENGTH(LTRIM(Name)) THEN 'Whitespaces at the end'
        WHEN LENGTH(TRIM(Name)) <> LENGTH(RTRIM(Name)) THEN "Whitespaces at the beginning"
    ELSE
        'No Whitespaces'
    END AS Whitespace
FROM 
    Students
LIMIT 5;

### Remove hashtags at both ends of the ID

You can use the below area to write a query that will remove the hashtages "#" from the ID string. Play around with all three trim functions.

In [ ]:
%%read_sql
SELECT
    IDNumber,
    LENGTH(IDNumber)AS LengthOfID,
    TRIM(IDNumber,'#') AS 'New ID',
    LENGTH(TRIM(IDNumber,'#')) AS TRIM_Length,
    LTRIM(IDNumber,'#') AS 'New ID2',
    LENGTH(LTRIM(IDNumber,'#')) AS LTRIM_Length

FROM Students
WHERE IDNumber LIKE '#%#' 
--LIMIT 9

### SUBSTR

The SUBSTR function returns a **substr**ing: given the **starting index** of the substring and the **number of characters** in the substring that is required.

The syntax of the *`SUBSTR()`* function takes the following form:

```SQL
    SUBSTR(string,starting_index,number_of_characters)
```

Have a look at the following function call:
```SQL 
SUBSTR('EXPLORE DSA',3,5)
```
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/SUBSTR.png" alt="Substring Ilustration" border="0">


Result = "PLORE"

### Find first 6 characters of the ID which represents a person's date of birth and separate these into Year, Month and Day

In [ ]:
%%read_sql

SELECT 
    Name,
    --LENGTH(IDNumber) AS LengthOfID,
    --REPLACE(IDNumber,'-','##') AS HashtagID, -- replace with arbitrary string pattern
    REPLACE(REPLACE(IDNumber,'-',''),'#','') AS CorrectIDFormat -- correct ID format such that we only have 13 characters in the string,
    --LENGTH(REPLACE(REPLACE(IDNumber,'-',''),'#','')) AS LengthOfCorrectID
FROM 
    Students
LIMIT 10
--WHERE 
    --LengthOfID > 13

Cleaner version..

In [ ]:
%%read_sql

SELECT 
    Name,
    REPLACE(REPLACE(IDNumber,'-',''),'#','') AS CorrectIDFormat -- correct ID format such that we only have 13 characters in the string,
FROM 
    Students
LIMIT 5

### Find first 6 characters of the ID which represents a person's date of birth and separate these into Year, Month and Day

In [ ]:
%%read_sql

SELECT
    Name,
    IDNumber,
    SUBSTR(IDNUmber,1,2) AS Year, 
    SUBSTR(IDNUmber,3,2) AS Month, 
    SUBSTR(IDNUmber,5,2) AS Day 
FROM
    Students
LIMIT 5;

### Now with the correct format ID...

In [ ]:
%%read_sql
SELECT 
    Name,
    REPLACE(REPLACE(IDNumber,'-',''),'#','') AS CorrectIDFormat, -- correct ID format such that we only have 13 characters in the string,
    SUBSTR(REPLACE(REPLACE(IDNumber,'-',''),'#',''),1,2) AS Year, 
    SUBSTR(REPLACE(REPLACE(IDNumber,'-',''),'#',''),3,2) AS Month, 
    SUBSTR(REPLACE(REPLACE(IDNumber,'-',''),'#',''),5,2) AS Day
FROM 
    Students
LIMIT 15

### INSTR

The INSTR function **returns the index postition** for the **first** of occurance of substring that we are looking for.

The syntax of the *`INSTR()`* function takes the following form:

```sql
INSTR(string,substring)
```

Have a look at the following function call:
```SQL 
INSTR('EXPLORE DSA','DSA')
```
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/INSTR.png" alt="Substring Index Ilustration" border="0">

In [ ]:
%%read_sql
SELECT 
    Name,
    IDNumber,
    INSTR(IDNumber,'-') AS FirstOccurance
FROM
    Students
WHERE LENGTH(IDNumber)>13

## UPPER, LOWER

The `UPPER` and `LOWER` functions allow us to covert our strings and characters to either lower or upper case:

The syntax of the *`UPPER()`* and *`LOWER()`* functions takes the following forms:

```sql
UPPER(string),LOWER(string)
```

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/String_Manipulation/UPPER_LOWER.png" alt="Upper and Lowercase Ilustration" border="0">

In [ ]:
%%read_sql
SELECT
    Name,
    UPPER(Name) AS Uppercase,
    LOWER(Name) AS Lowercase
FROM
    Students
LIMIT 5;

### Concatenation Operator - ||

- Used to combine two strings - a process known as string concatenation.

The syntax for the "||" operator will take the following form:

```sql
    string_1 || string_2 || string_3 || ... || string_n
```

In [ ]:
%%read_sql

SELECT
    AdmissionNo || Name ||  Surname  ||  IDNumber
FROM 
    Students
LIMIT 5;

# Optimising SQL Queries

## US Flights Database
We will use iPython's built-in `%%time` magic command which will measure the execution time of code within a given jupyter cell. The flights database consist of the following tables:

- **flights**:     all domestic flights in the USA in 2008
- **carriers**:     lookup table for all the carriers
- **airports**:     lookup table for all the airports
- **planes**:     lookup table for the planes

For your convenience, we have also provided the flights database ER diagram:



<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/flights_db_ER.png" width=30% align="left">

Loading SQL magics and load database:

In [ ]:
%load_ext sql

# Load SQLite database 
# Make sure this file is in the same directory as your notebook
%sql sqlite:///flights.db

In [ ]:
#might look at jupyter notebook if students need practical examples

- **Column names instead of ***
    - Taxing to return records of all columns for big tables
    - Limit amount of data being read by specifying subset of columns
    
    
- **Create JOINS with INNER, not WHERE**
    - WHERE clause does a CROSS join which considers the combination of rows from both tables
    - Join statements only iterate through records in the left table when looking for matches.
 
 
- **Avoid using the wildcard (%) at the beginning of a predicate**
    - Execution will be slower if % at beginning due to full table scan
    - Use only trailing wildcard when searching for start of word


- **Avoid using functions in predicates**
    - Execution will be slower, due to not using indices
    - Create CTE to handle it instead
     
    
- **Avoid using calculated fields in the JOIN and WHERE clauses**
    - Avoid Calculated Fields in JOIN and WHERE clause
    - Create CTE to handle it instead

# Normalising SQL Tables

> Technique for evaluating and reorganizing table structures
> Purpose:
>    - Minimize redundancies
>    - Improve data integrity
>    - Improves analysis by removing inconsistencies

Normalization is segmented into ordered categories: 1NF, 2NF, 3NF, BCNF, and 4NF

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/normalisation.png" width=80% align="center"/>

# First Normal Form (1 NF)

A table is in 1NF if it contains no repeating groups. To convert an unnormalised table to 1NF either:
- Flatten the table and change the primary key
- Decompose the table into smaller tables, one for the repeating groups and one for the non-repeating groups.

For example: 

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/inf_before.png" width=80% align="center"/>

To resolve the repeating group anomaly, we can split into multiple rows or multiple tables:

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/inf_after.png" width=80% align="center"/>

# Second Normal Form (2 NF)

A table is in 2NF if it contains no repeating groups and no partial functional dependencies. To convert a relation with partial functional dependencies to 2NF, create a set of new relations/tables:
- One relation/table for the attributes that are fully dependent upon the key.
- One relation/table for each part of the key that has partially dependent attributes.

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/2nf_before.png" width=40% align="center"/>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/2nf_after.png" width=80% align="center"/>

# Third Normal Form (3 NF)

A table is in 3NF if it contains no repeating groups, no partial functional dependencies, and no **transitive functional dependencies**. A transitive dependency in a database is an indirect relationship between values in the same table that causes a functional dependency. To convert a relation with transitive functional dependencies to 3NF:
- Remove the attributes involved in the transitive dependency and put them in a new relation/table.
- Ensure that in a normalised relation a non-key field must provide a fact about the key, the whole key and nothing but the key.
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/3nf_before.png" width=40% align="center"/>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/normalisation/3nf_after.png" width=80% align="center"/>

Refer to table normalisation video as it clearly explains everything
https://www.youtube.com/watch?v=m5BjEGjZdJM

How to develop the pseudo code representation of queries. ie. the heirarchy of priorities which in the end formulates how to query the DB. Also how to envision the effects of joins & set operators.

Refer to webinar on SQL Joins And Set Theory
https://www.youtube.com/watch?v=-dclXoXVWtM&t=792s