In [1]:
%load_ext sql

In [4]:
%%sql 

sqlite:///TMDB.db

In [7]:
%%sql

SELECT COUNT(*)
FROM movies

 * sqlite:///TMDB.db
(sqlite3.OperationalError) no such table: movies
[SQL: SELECT COUNT(*) FROM movies]
(Background on this error at: http://sqlalche.me/e/13/e3q8)