In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///classlist.db

In [3]:
%%sql 

SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///classlist.db
Done.

[]